body {
	font: 1.5rem sans-serif;
	background-color: #FFFDDD;
	padding: 10%;
	text-align: center;
}



h1 {
	font: size 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font: size 1.5em;
}


p {
	font-size: 1.5rem;
}

.wrapper {
	width: fit-content;
	height: fit-content;
	padding: 4%;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	margin-top: 10%;
	font-size: 2rem;
	border: 2px black solid;
	text-align: left;
}

label {
	font-size: 1.5rem;
}

input {
	max-width: fit-content;
}

.copyright {
	font-size: 1rem;
	font-weight: italic;
	margin-left: 20%;
	margin-top: 30%;
	text-align: center;
}

.message-admin {
	border: 2px red solid;
	margin: 10%;
	padding: 2%;
}

.tenor-gif-embed {
	margin: 20%;
}


.table-wrapper {
	font-size: 1.2rem;
}

.pass {
	font-size: 1rem;
	overflow-wrap: break-word;

}

.btn {
	margin: 1%;
	width: fit-content;
}